@import 'styles/variables.scss';

.navPanel {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1.4rem 0;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  justify-content: space-around;
  align-items: center;
  background-color: $black;
  @include mobile {
    padding: 0.6rem 0;
  }

  &__btn {
    background-color: transparent;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    flex-direction: column;
    gap: 2px;
    font-size: 8px;
    letter-spacing: 0.5px;
    color: $grey;
    align-items: center;
  }
}

.active {
  color: $white;
}
